html {
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

header {
    background-color: #565656;
    margin: 0;
}

header .content {
    width: 80%;
    margin: auto;
    display: flex;
    background-color: #565656;
    transition: top 0.2s;
}

#onScroll_content {
    position: fixed;
    padding: 0 10%;
}

main {
    width: 80%;
    margin: auto;
    min-height: calc(100vh - 146px);
}

.logo {
    padding: 16px 16px;
    height: 20px;
    user-select: none;
}

.v-main .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.v-main .content.list .text {
    background-color: #00996644;
}

.v-main .turn-button {
    display: inline-block;
    padding: 10px;
    border: #009966 1px solid;
    margin-right: 10px 0;
    cursor: pointer;
}

.v-main .content .news {
    width: 48%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s box-shadow;
}

.v-main .content .news:hover {
    box-shadow: 0 4px 5px lightslategray;
}

.v-main .content .news {
    flex-direction: row-reverse;
}

.v-main .content .news .text {
    width: 75%;
    padding: 10px;
}

.v-main .content .news div:nth-child(2) {
    width: 25%;
}

.v-main .content .news img {
    width: 100%;
    height: 100%;
}

.v-main h4 {
    margin-top: 0;
    font-weight: 600;
    color: #565656;
    font-size: 24px;
}

.v-main #main input {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    width: 40%;
    height: 1.5em;
    border: 0;
    border-bottom: 1px solid #565656;
    border-radius: 0;
    font-weight: 350;
    outline: 0;
    transition: border 0.05s;
    margin-left: 10px;
}

.main-menu {
    margin-left: auto;
}

.main-menu nav {
    display: flex;
}

.main-menu a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.main-menu a:hover {
    background-color: #3a3a3a;
}

.main-menu a img {
    height: 15px;
    padding-right: 10px;
}

nav.l-main .l-main,
nav.l-catalog .l-catalog,
nav.cart .cart {
    background-color: #009966;
}

main h2 {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 380;
    color: #565656;
}

main h2 b {
    font-weight: 600;
}

main .container {
    display: flex;
    justify-content: space-between;
}

main .catalog {
    margin: 10px 0px 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
}

main .catalog_grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main .catalog .item {
    width: 22%;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    transition: 0.2s box-shadow ease-in;
}

main .catalog_grid .item {
    width: 88%;
}

main .catalog .item:hover {
    box-shadow: 0 4px 5px lightslategray;
}

main .catalog img {
    width: 100%;
}

main .catalog .item-text {
    padding: 12px 0;
    color: #565656;
}

main .catalog .item-name {
    font-weight: 600;
}

main .catalog .item-cost {
    font-weight: 350;
    display: inline;
}

main .catalog .item-cost-before {
    display: inline;
    font-size: 0.8em;
    font-weight: 350;
    text-decoration: line-through;
}

main .right-block {
    width: 15%;
    margin-top: 20px;
    position: fixed;
}

main .right-block input[type="search"] {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 1.5em;
    border: 0;
    border-bottom: 1px solid #565656;
    border-radius: 0;
    font-weight: 350;
    outline: 0;
    transition: border 0.05s;
}

main .right-block input[type="search"]:focus {
    border-radius: 0;
    border: 1px solid white;
    border-bottom: 1px solid #565656;
}

main .right-block input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background: url(close.svg);
}

main .first-choose,
main .second-choose {
    margin-top: 30px;
    color: #565656;
}

main .right-block .param {
    margin-bottom: 7px;
    font-weight: 600;
}

main .right-block p {
    font-size: 16px;
    font-weight: 380;
}

main .first-choose a {
    text-decoration: none;
    color: #565656;
    transition: 0.3s color;
}

main .first-choose a:hover {
    color: #009966;
}

main .second-choose input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 7px;
}

main .second-choose p:not(.param) {
    cursor: pointer;
    transition: 0.3s color;
}

main .second-choose label {
    cursor: pointer;
    display: inline-block;
    font-weight: 380;
}

main .second-choose p:not(.param):hover {
    color: #009966;
}

footer {
    display: flex;
    background-color: #565656;
}

footer .content {
    width: 80%;
    font-size: 14px;
    margin: auto;
}

footer .sm {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .sm-link {
    display: block;
    padding: 10px 10px;
    margin: 5px 10px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.2s;
}

footer .sm-link img {
    height: 20px;
}

footer .sm-link:hover {
    opacity: 0.4;
}

footer .copyright p {
    color: #fff;
    text-align: center;
    opacity: 0.4;
    padding: 0 0 20px 0;
}

#main-cg [v-cloak] {
    display: none;
}

.tooltip {
    width: 700px;
    position: absolute;
    top: 200px;
}

.tooltip input {
    width: 100%;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    color: #565656;
    font-weight: bold;
    padding-right: 5px;
}

#main-nn .serv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#main-nn .serv div {
    width: 30%;
    padding: 10px;
    cursor: pointer;
    transition: 0.15s background-color;
}

#main-nn .serv div.active {
    background-color: #00996644;
}

h2.se {
    margin-bottom: 5px;
}


/* #main {
    height: 300px;
    position: relative;
    padding-top: 150px;
} */

.content-about h2 {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 600;
    color: #565656;
}

#form-about {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#form-about>div {
    width: 48%;
}

#form-about input {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    width: 80%;
    height: 1.5em;
    border: 0;
    border-bottom: 1px solid #565656;
    border-radius: 0;
    font-weight: 350;
    outline: 0;
    margin: auto;
}

#form-about textarea {
    width: 700px;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border: 1px solid #565656;
    border-radius: 0;
    font-weight: 350;
    outline: 0;
    resize: none
}

#form-about textarea:focus {
    border: 1px solid #565656
}

#form-about button {
    display: block;
    margin-left: auto;
    margin-right: 50px;
    width: 100px;
    height: 40px;
    background-color: #565656;
    border: none;
    font-weight: 600;
    color: #fff;
    transition: 0.2s background-color;
}

#form-about button:hover {
    background-color: #009966;
    outline: none;
}

#form-about .error {
    display: block;
}