html {
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

header {
    background-color: #565656;
    margin: 0;
}

header .content {
    width: 80%;
    margin: auto;
    display: flex;
    background-color: #565656;
    transition: top 0.2s;
}

#onScroll_content {
    position: fixed;
    padding: 0 10%;
}

main {
    width: 80%;
    margin: auto;
}

.logo {
    padding: 16px 16px;
    height: 20px;
    user-select: none;
}

.main-menu {
    display: flex;
    margin-left: auto;
}

.main-menu .menu-link {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.main-menu .menu-link:hover {
    background-color: #009966;
}

main h2 {
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 380;
    color: #565656;
}

main h2 b {
    font-weight: 600;
}

main .container {
    display: flex;
    justify-content: space-between;
}

main .catalog {
    margin: 10px 0px 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
}

main .catalog .item {
    width: 22%;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    transition: 0.2s box-shadow ease-in;
}

main .catalog .item:hover {
    box-shadow: 0 4px 5px lightslategray;
}

main .catalog img {
    width: 100%;
}

main .catalog .item-text {
    padding: 12px 0;
    color: #565656;
}

main .catalog .item-name {
    font-weight: 600;
}

main .catalog .item-cost {
    font-weight: 350;
    display: inline;
}

main .catalog .item-cost-before {
    display: inline;
    font-size: 0.8em;
    font-weight: 350;
    text-decoration: line-through;
}

main .right-block {
    width: 15%;
    margin-top: 20px;
    position: fixed;
}

main .right-block input[type="search"] {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 1.5em;
    border: 0;
    border-bottom: 1px solid #565656;
    border-radius: 0;
    font-weight: 350;
    outline: 0;
    transition: border 0.05s;
}

main .right-block input[type="search"]:focus {
    border-radius: 0;
    border: 1px solid white;
    border-bottom: 1px solid #565656;
}

main .right-block input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background: url(close.svg);
}

main .first-choose,
main .second-choose {
    margin-top: 30px;
    color: #565656;
}

main .right-block .param {
    margin-bottom: 7px;
    font-weight: 600;
}

main .right-block p {
    font-size: 16px;
    font-weight: 380;
}

main .first-choose a {
    text-decoration: none;
    color: #565656;
    transition: 0.3s color;
}

main .first-choose a:hover {
    color: #009966;
}

main .second-choose input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 7px;
}

main .second-choose p:not(.param) {
    cursor: pointer;
    transition: 0.3s color;
}

main .second-choose label {
    cursor: pointer;
    display: inline-block;
    font-weight: 380;
}

main .second-choose p:not(.param):hover {
    color: #009966;
}

footer {
    display: flex;
    background-color: #565656;
}

footer .content {
    width: 80%;
    font-size: 14px;
    margin: auto;
}

footer .sm {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .sm-link {
    display: block;
    padding: 10px 10px;
    margin: 5px 10px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.2s;
}

footer .sm-link img {
    height: 20px;
}

footer .sm-link:hover {
    opacity: 0.4;
}

footer .copyright p {
    color: #fff;
    text-align: center;
    opacity: 0.4;
    padding: 10px 0 20px 0;
}